/.abook/
/.adobe-reader*/
/.asdf/
/.cache/
/caches/
/.cargo/
/.claws-mail/
/Desktop/
/.dir_colors
/.docker/
/Documents/
/Downloads/
/.dropbox*/
/.dropbox/
/Dropbox/
/.dropbox-dist/
/.editorconfig
/.electron-gyp/
/.fltk/
/.fonts/
/.gitignore
/.gnupg/
/.gradle/
!/.gradle/gradle.properties
/.gsutil/
/*history*
# Homedir yadm optimization
/.hyper_plugins/
/IdeaProjects/
/.java/
/.jdks/
/.kde4/
/.m2/repository/
/.minikube/
/.mozilla/
/.node/
/.npm/
/.nvm/
/.parallel/
/.phoronix-test-suite/
/Pictures/
/.pkg-cache/
/.pki/
/.spamassassin/
/.ssh/
!/.ssh/config
/.steam*
/.sylpheed-2.0/
/Templates/
/.thunderbird/
/Videos/
/.vim/
/.vscode-oss/
/.zi/
/.zoom/

